.modal-container {
  animation: fade-in .1s forwards;
  overflow: scroll;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;

  & .modal {
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgb(0% 0% 0% / 50%);
    max-width: var(--max-width);
    min-width: 40vw;
    padding: 8px 16px;
    position: relative;
    margin: 0 32px;

    background-image: var(--image);
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;

    & .close-modal {
      cursor: var(--pointer);
      z-index: -1;
      position: absolute;
      background: #f33;
      border-radius: 8px;
      top: -32px;
      right: 16px;
      width: 32px;
      aspect-ratio: 1/2;
      transition: transform .1s;

      &::after {
        content: '';
        display: inline-block;
        width: 100%;
        aspect-ratio: 1;
        background-image: url('../media/close.svg');
        transition: transform .25s;
      }

      &:hover {
        transform: translateY(-10%);

        &::after {
          transform: rotateZ(90deg);
        }
      }
    }

    & .name {
      color: var(--blue);
      -webkit-text-decoration: 2px underline var(--purple);
      text-decoration: 2px underline var(--purple);
      margin: 0 0 16px;
    }

    & p {
      margin: 4px;
    }
  }
}

.fade-out {
  animation: fade-out .1s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}