.result {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 20px #0004;
  box-sizing: border-box;
  cursor: var(--pointer);
  overflow: hidden;
  padding: 10px;
  position: relative;
  transition: transform .1s;
  width: 100%;

  view-timeline: --result block;
  animation-timeline: --result;
  -webkit-animation-name: show;
  animation-name: show;
  animation-range: entry 0% cover 8%;
  /* animation-fill-mode: both; */

  &::after {
    content: '';
    position: absolute;
    width: 32px;
    aspect-ratio: 1;
    transform: rotate(45deg) translateY(-40px);
    background-color: transparent;
    transition: transform .1s, background-color .1s;
    top: 0;
    right: 0;
  }

  &:hover {
    transform: translateY(-8px) scale(1.05);

    &::after {
      background-color: var(--purple);
      transform: rotate(45deg) translateY(-22px)
    }
  }

  & .name {
    margin-right: auto;
    -webkit-text-decoration: 2px underline var(--purple);
    text-decoration: 2px underline var(--purple);
    position: relative;
    color: var(--blue);
    font-size: large;
    margin: 0;
    margin-bottom: 8px;
  }

  & p {
    margin: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: scale(.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}